.auth-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;

  border: 1px solid #e5e5e5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  text-align: center;
}

.auth-card h2 {
  margin-bottom: 8px;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #888;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.switch {
  margin-top: 20px;
  font-size: 14px;
}

.switch a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
